$font-color: #443636;
$font-color-blue:#424b5a;
$font-color-red:#fc585f;
$font-color-yellow:#846c4e;
$font-white:#ffffff;
$bgrcolor:rgba(243, 243, 243, 0.7);
$bgrcolorhover:#dad0b3;
$bgr-newstab:#f5f5f5;
$bgr-newssum: rgba(117, 117, 117, 0.7);


$h1font-size: 25px;
$h2font-size: 20px;
$h3font-size: 20px;
